<!DOCTYPE html>
<html>
<head>
    <title>Smart Expense Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- Sidebar -->
<div class="sidebar">
    <h2>💰Expense &nbsp;&nbsp;&nbsp;&nbsp;Manager</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/expenses">Expenses</a>
    <a href="/reports">Reports</a>
</div>

<!-- Main -->
<div class="main">

    <h1>Dashboard</h1>

    <!-- Cards -->
    <div class="cards">
        <div class="card">
            <h3>Total Expenses</h3>
            <p>₹{{ total }}</p>
        </div>

        <div class="card">
            <h3>Total Entries</h3>
            <p>{{ expenses|length }}</p>
        </div>
    </div>

    <!-- Form -->
    <form action="/add" method="POST" class="form">
        <input name="title" placeholder="Expense name" required>
        <input name="amount" placeholder="Amount ₹" required>
        <button>Add</button>
    </form>

    <!-- List -->
    <ul class="list">
        {% for e in expenses %}
        <li>
            {{ e[1] }} - ₹{{ e[2] }}
            <a href="/delete/{{ e[0] }}">❌</a>
        </li>
        {% endfor %}
    </ul>

    <canvas id="expenseChart" height="100"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const labels = {{ labels|safe }};
            const data = {{ values|safe }};

            const ctx = document.getElementById('expenseChart').getContext('2d');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Expenses ₹',
                        data: data,
                        backgroundColor: '#6366f1'
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

</div>

</body>
</html>
