<!DOCTYPE html>
<html>
<head>
    <title>Smart Expense Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

<div class="sidebar">
    <h2>💰Expense &nbsp;&nbsp;&nbsp;&nbsp;Manager</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/expenses">Expenses</a>
    <a href="/reports">Reports</a>
</div>

<div class="main">
    <h1>All Expenses</h1>

    <ul class="list">
        {% for e in expenses %}
        <li>
            {{ e[1] }} - ₹{{ e[2] }}
            <a href="/delete/{{ e[0] }}">❌</a>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
