<!DOCTYPE html>
<html>
<head>
    <title>Smart Expense Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

<div class="sidebar">
    <h2>💰Expense &nbsp;&nbsp;&nbsp;&nbsp;Manager</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/expenses">Expenses</a>
    <a href="/reports">Reports</a>
</div>

<div class="main">
    <h1>Reports</h1>

    <div class="card">
        <h2>Total Spending</h2>
        <p>₹{{ total }}</p>
    </div>
</div>

</body>
</html>
