<!DOCTYPE html>
<html>
<head>
    <title>Smart Expense Manager</title>

<style>
body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #0f172a;
    color: white;
    display: flex;
}

.sidebar {
    width: 220px;
    background: #020617;
    height: 100vh;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: #94a3b8;
    margin: 10px 0;
    text-decoration: none;
}

.sidebar a:hover {
    color: white;
}

.main {
    flex: 1;
    padding: 30px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}
</style>

</head>

<body>

<div class="sidebar">
    <h2>💰 Smart Expense Manager</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/expenses">Expenses</a>
    <a href="/reports">Reports</a>
</div>

<div class="main">
    <h1>Reports</h1>

    <div class="card">
        <h2>Total Spending</h2>
        <p>₹{{ total }}</p>
    </div>
</div>

</body>
</html>
